@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.demo-1 .main-title, .demo-3 .main-title, .demo-4 .main-title
		font-size: 3em
	.demo-2 .main-title
		font-size: 4em
	.menu
		background: #E6E6E6
	.menu-item
		color: #000
	.menu-toggle
		span
			background: #29ABE2
			&::after
				background: #29ABE2
			&::before
				background: #29ABE2
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/
	.menu
		left: -117%

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

