@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"

.portfolio__title-wrap
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: center
	margin-bottom: 20px
.portfolio__title
	font-size: em(30px)
	padding: 19px 44px
	border: 3px solid #ccc 
	box-shadow: 0 0 15px #ccc inset
.slider__link
	display: block
.owl__item
	position: relative
.slider__photo
	img
		min-height: 570px
.slider__text
	background: #000
	bottom: 0
	padding: 5px 0px
	opacity: .8
	color: #FFF
	width: 100%
	text-align: center
	left: 0
	position: absolute

.owl-controls
	text-align: center
	margin-top: 20px
	.owl-dot
		width: 15px
		height: 15px
		margin: 0 3px
		background-color: #ccc
		display: inline-block
		border-radius: 10em
		&.active
			box-shadow: 0 0 15px #00b7ff inset
	.owl-nav
		position: absolute
		top: 40%
		width: 100%
		> div
			height: 29px
			width: 16px
			opacity: 1
			background-image: url(../img/slider_arrows.png)
			position: absolute
			transition: all .25s ease
			left: 20px
		.owl-next
			right: 20px
			left: auto
			background-position: -16px 0