@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"

.about
	margin-bottom: 120px
.about__content
	padding: 100px 0px 20px
.about__img
	box-shadow: 0 0 75px #2E3192
.about__text
	margin: 20px 0px
	text-align: center
.about__desc
	text-align: right
.about__title
	font-size: em(45px)
	margin: 0
	text-shadow: 0 0 7px #00B7FF